<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="versionone.codistro.github.io.organicfarm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LogIn">

        </activity>
        <activity
            android:name=".activities.CustomersList"
            android:parentActivityName=".activities.LogIn" />
        <activity
            android:name=".activities.SelectMilkType"
            android:parentActivityName=".activities.CustomersList" />
        <activity
            android:name=".activities.RegisterCustomer"
            android:parentActivityName=".activities.AdminPanel" />
        <activity
            android:name=".activities.SaleDetails"
            android:parentActivityName=".activities.SelectMilkType" />
        <activity
            android:name=".activities.AdminPanel" />
        <activity
            android:name=".activities.UpdatePrice"
            android:parentActivityName=".activities.AdminPanel" />
        <activity
            android:name=".activities.CustomerBalanceDetails"
            android:parentActivityName=".activities.CustomersList" />
        <activity android:name=".activities.ScanQr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>